<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estimation Data List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mt-5">Effort Estimation Tool</h1><br><br>
        <h1>Estimation Data List</h1><br>
        <a href="{{ url_for('dashboard') }}" class="btn btn-primary mb-3">HOME</a> <a href='/show_estimate' class="btn btn-primary mb-3">View Estimation By Task Name</a> <a href='/submit_task' class="btn btn-primary mb-3">Submit Another Task</a>
        <table class="table table-bordered"><br>
            
            <thead>
                <tr>
                    <th>Task ID</th> 
                    <th>Estimated Effort(Hours)</th>
                    <th>Confidence Level</th>
                    <th>Estimated Range(Hours)</th>
                </tr>
            </thead>
            <tbody>
                {% for estimation in estimations %}
                <tr>
                    <td>{{ estimation.task_id }}</td>
                    <td>{{ estimation.estimated_effort_hours }}</td>
                    <td>{{ estimation.confidence_level }}</td>
                    <td>{{ estimation.estimated_range_hours }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
